{% extends "base.html" %}

{% block title %}Founder Collaborators{% endblock title %}

{% block custom_css %}
<link href="{{ static_url }}css/portfolio.gallery.css" rel="stylesheet" type="text/css" />
{% endblock custom_css %}

{% block custom_js %}
<script type="text/javascript" src="{{ static_url }}js/loopslider/loopedslider.js"></script>
<script type="text/javascript" charset="utf-8">
	$(function(){
		$('.galleryslider').loopedSlider({
			containerClick: false
		});
	});
</script>
{% endblock custom_js %}

{% block content %}		
		<div id="fullwidth-categorytitle">
		About > Founding Collaborators
		</div>
		
		
		
		
<div id="contents">		
<div class="galleryslider">	
	<div class="container">
		<ul class="slides">
			<li>
				<div class="gr-portfolio">
					<div class="gr-portfolio-miditem-rl">
						<a href="#">
							<img src="{{ static_url }}images/portfolio/showcase/james.jpg" alt="Portfolio" />
						</a>
					</div>
					<div class="gr-contentmid-rl">					
						<div class="gr-title">
							<a href="#">James Lee, Scientus Prime</a>
						</div>
						<div class="gr-highlight">
		
						</div>
						<div class="gr-description">
							is a postdoctoral researcher in the Laboratory of Biological Modeling at the National Institutes of Health and a research associate at the BGI Cognitive Genomics Lab. He recently received his PhD in Psychology from Harvard University. In the picture you can see the result of his first collaborative genetic experiment with his wife.  
						</div>
					</div>
				<div class="clear"></div>
				</div>
			</li>
			<li>
				<div class="gr-portfolio">
					<div class="gr-portfolioitem">
						<a href="#">
							<img src="{{ static_url }}images/portfolio/showcase/laurent.jpg" alt="Portfolio" />
						</a>
					</div>
					<div class="gr-contentblock">
						<div align="right"> 
							<div class="gr-title">
								<a href="#">Laurent Christian Asker Melchior Tellier</a>
							<div class="gr-description">
								is a visiting scholar at BGI from the University of Copenhagen Bioinformatics Centre, and entrepreneur founder of an informatics startup. He oversees the bioinformatics end of the Cognitive Genomics Lab, and coordinates all cohorts with Denmark's Military, Swedes from Karolinska Institut, Wisconsin LS, and the British WTCCC. He does chip design, all budget oversight, and is webmaster of the Consortium. He's currently occupied with fundraising and psychometrics.
							</div>
						</div>
					</div>
				<div class="clear"></div>
				</div>
			</li>
			<li>
				<div class="gr-portfolio">
					<div class="gr-portfolio-miditem">
						<a href="#">
							<img src="{{ static_url }}images/portfolio/showcase/RuiCat2.jpg" alt="Portfolio" />
						</a>
					</div>
					<div class="gr-contentmid">
						<div class="gr-title">
							<a name="ruiyang" href="#">Rui Yang, the Heavy Thinker</a>
						</div>
						<div class="gr-description">
									 is director of the psychology arm of the BGI Cognitive Genomics Lab. She received her BA in Psychology from Yale and master's degree from Brown, and is currently a PhD candidate in the Department of Cognitive, Linguistic & Psychological Sciences at Brown. Passionate about genomics and psychological research, Rui enjoys logic puzzles, music, and horseback riding as well.
						</div>
					</div>
				<div class="clear"></div>
				</div>
			</li>
			<li>
				<div class="gr-portfolio">
					<div class="gr-portfolio-miditem-rl">
						<a href="#">
							<img src="{{ static_url }}images/portfolio/showcase/steve.png" alt="Portfolio" />
						</a>
					</div>
					<div class="gr-contentmid-rl">
						<div class="gr-title">
							<a href="#">Steve Hsu - Kirbyite Superhero</a>
						</div>
						<div class="gr-description">
							is Professor of Theoretical Physics at the University of Oregon and Director of its Institute of Theoretical Science. Educated at Caltech and Berkeley, he was a Harvard Junior Fellow and Assistant Professor at Yale before moving to Oregon in 1998. He is also the founder of two Silicon Valley software startups in the area of information security, and an accomplished MMA fighter. Steve is the scientific veteran of the team, and key contact for the American TIP cohort.
						</div>
					</div>
				<div class="clear"></div>
				</div>
			</li>
						<li>
				<div class="gr-portfolio">
					<div class="gr-portfolio-miditem-rl">
						<a href="#">
							<img src="{{ static_url }}images/portfolio/showcase/chrchang.jpg" alt="Portfolio" />
						</a>
					</div>
					<div class="gr-contentmid-rl">
						<div class="gr-title">
							<a href="#">Chris Chang - Sith Temponaut Genius</a>
						</div>
						<div class="gr-description">
							 is a visiting scholar at BGI, and serves as Project Manager and operations officer for the Cognitive Genomics Lab. A veteran of numerous math and programming contests, he has repeatedly warned the rest of the team that half the top contest performers are epic slackers in real life, to no avail. He received his BS and PhD in Mathematics from Caltech and UCSD, respectively.
						</div>
					</div>
				<div class="clear"></div>
				</div>
			</li>
			</li>
						<li>
				<div class="gr-portfolio">
					<div class="gr-portfolio-miditem-rl">
						<a href="#">
							<img src="{{ static_url }}images/portfolio/showcase/bw.jpg" alt="Portfolio" />
						</a>
					</div>
					<div class="gr-contentmid-rl">
						<div class="gr-title">
							<a href="#">Bowen Zhao - Director and Moneyman</a>
						</div>
						<div class="gr-description">
							  is director, first founder, and fundraiser of the BGI Cognitive Genomics Lab, and arguably the originator of the entire project. Still a teenager, Bowen left high school early to work full-time on genomics after a startlingly productive internship contributing to BGI's cucumber sequencing project. Bowen is extremely accomplished for his age, and has been the subject of several prestigious popular media pieces.
						</div>
					</div>
				<div class="clear"></div>
				</div>
			</li>
			
			<li>
				<div>
					<a href="#">
						<img src="{{ static_url }}images/portfolio/showcase/laurentsstones.jpg" alt="Portfolio" />
					</a>			
				</div>
			</li>
			
		</ul>
	</div>
	<!-- Navigation -->
	<div class="navigation">
		<a class="buttonicon previous" href="#"><span><img src="{{ static_url }}images/prev.gif" alt="previous" /> Prev</span></a>
		<a class="buttonicon next" href="#"><span>Next <img src="{{ static_url }}images/next.gif" alt="next" /></span></a>
	</div>
	
	<!-- Thumbnails -->
	<ul class="pagination">
		<li><a href="#"><img class="fade" src="{{ static_url }}images/portfolio/showcase/james.jpg" alt="thumbnail" /></a></li>
		<li><a href="#"><img class="fade" src="{{ static_url }}images/portfolio/showcase/laur.jpg" alt="thumbnail" /></a></li>
		<li><a href="#"><img class="fade" src="{{ static_url }}images/portfolio/showcase/rui.jpg" alt="thumbnail" /></a></li>
		<li><a href="#"><img class="fade" src="{{ static_url }}images/portfolio/showcase/hsu.png" alt="thumbnail" /></a></li>
		<li><a href="#"><img class="fade" src="{{ static_url }}images/portfolio/showcase/chris.jpg" alt="thumbnail" /></a></li>
		<li><a href="#"><img class="fade" src="{{ static_url }}images/portfolio/showcase/bowen.jpg" alt="thumbnail" /></a></li>
		<li><a href="#"><img class="fade" src="{{ static_url }}images/portfolio/showcase/thumb-stones.jpg" alt="thumbnail" /></a></li>
	</ul>
	<div class="clear"></div>

</div>

</div>

		
		<div class="clear"></div>
			
		<!-- Another Big saying with Arrow -->
		<div class="mbigsaying">
			<div class="mbigmorewrap">
				<div class="mbigtitle">
				Read more in our collaborator section. <a href="/about/collaborators" class="morearrow"></a>
				</div>
			<div class="clear"></div>
			</div>
		</div>

		
		<div class="clearlast"></div>


<div class="clear"></div>
{% endblock content %}
